@charset "utf-8";

/*--------------------------------
 *initialize
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
input, select {
    vertical-align:middle;
}

/*-------------------------------------------
 *
 */

body {
  color:#000;
  background: #f3f3f3;
}

#wrapper {
  width: 640px;
  margin: 0 auto;
  overflow: hidden;
}

h1 {
  margin: 0 0 60px;
  padding: 10px 0 10px 10px;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-left: 10px solid #ccc;
  border-right: 2px solid #ccc;
  font-family: serif;
  font-size: 36px;
}

h2 {
  padding: 10px 0 10px 10px;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  border-left: 10px solid #ddd;
  border-right: 2px solid #eee;
  font-family: serif;
  font-size: 28px;
}

canvas {
  display: block;
  background: #000;
}

input {
  width: 626px;
  padding: 5px;
  font-size: 24px;
  text-align: center;
}

#canvas2, #canvas3 {
  width: 640px;
  height: 320px;
  border-bottom: 1px solid #fff;
}

.sources {
  margin: 0 0 40px;
  padding: 10px 0 0;
  border: 1px solid #ccc;
  background: #eee;
}

.sources p {
  padding: 5px;
  margin: 0 0 5px;
}